{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Welocome To Crypto News Network!</h1>
  <p class="lead">Source for up to the minute crypto and blockchain news!</p>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">24h High</th>
      <th scope="col">24h Low</th>
      <th scope="col">Market Cap</th>
    </tr>
  </thead>

    <tbody>
{% for key,value in price.DISPLAY.items %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value.USD.PRICE }}</td>
        <td>{{ value.USD.HIGHDAY }}<br/></td>
        <td>{{ value.USD.LOWDAY }}</td>
        <td>{{ value.USD.MKTCAP }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<div class="container">
    <div class="row">
        {% for x in api.Data %}
<div class="col-sm">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ x.imageurl }}" alt="{{ x.source }}">
  <div class="card-body">
    <h5 class="card-title">{{ x.title }}</h5>
    <p class="card-text">{{ x.body }}</p>
    <a href="{{ x.url }}" class="btn btn-secondary">Read More...</a>
  </div>
</div>
        <br/>
    </div>
{% endfor %}
        </div>
</div>


<li>{{ x.title }}</li>


{% endblock %}